
html, body {
    width: 100%;
    height: 100% !important;
}

body {
    font-family: "open sans", Arial, sans-serif;
    color: #000;
    background-color: #fff;
}


section {
    position: relative;
    z-index: 999;
    padding: 100px 0;
}

@media (max-width: 768px) {
    section {
        padding: 70px 0;
    }
}

.split-padding0,
.split-padding,
.split-padding2,
.split-padding3,
.split-padding4,
.split-padding5 {
    padding: 100px 60px 50px;
}

@media (max-width: 768px) {
    .split-padding0,
    .split-padding,
    .split-padding2,
    .split-padding3,
    .split-padding4,
    .split-padding5 {
        padding: 50px 20px 50px;
    }
}

.split-padding-demo {
    padding: 50px;
}

.panel-height {
    height: 100px;
/ change according to your requirement /
}

.split-padding0,
.split-padding,
.split-padding2 {
    color: #fff;
}

.split-padding3,
.split-padding4 {
    color: #111;
}

.split-padding0 {
    background-color: #151515;
}

.split-padding {
    background-color: #111;
}

.split-padding2 {
    background-color: #000;
}

.split-padding3 {
    background-color: rgba(250, 250, 250, 0.8);
}

.split-padding4 {
    background-color: rgba(0, 0, 0, 0.05);
}

a .fa-circle {
    color: #777;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover .fa-circle {
    color: #555;
}

/* Intro */

.intro {
    display: table;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    height: 100%;
    background: #000 url(../img/4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro2 {
    /*background: #000 url(../img/6.jpg)  no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro2 #clock {
    padding: 50px 0;
}

.intro2 #clock span {
    border-bottom: 1px solid #fff !important;
}


.intro .intro-body {
    display: table-cell;
    vertical-align: bottom;
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0 0 5px;
}

.color {
    color: #00a8ff;
    font-size: 35px !important;
}

.intro .intro-body .intro-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.intro .intro-body .intro-text1 {
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .intro {
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .intro .list-inline {
        text-align: right;
    }
}

@media (max-width: 768px) {
    .intro2 #clock {
        padding: 0;
    }

    .intro .intro-body {
        padding: 30px 0;
    }
}


/* About */

#about,
#about2,
#about3 {
    padding-top: 0;
    padding-bottom: 0;
    color: #333;
}

#about {
    width: 100%;
    background: url(../img/14.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#objectives {
    width: 100%;
    background: url(../img/12.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

@media (max-width: 768px) {
    #about,
    #about2,
    #about3 {
        text-align: center;
    }
}

/* Countdown */
#charts {
    width: 100%;
    color: #fff;
    padding: 10px 0 !important;
    background: url(../img/chart.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* Contact */

#contact {
    width: 100%;
    color: #fff;
    background: url(../img/contact-us-banner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

@media (max-width: 1200px) {
    #contact, #mission, #about, .intro {
        background-attachment: scroll;
    }
}

.tree-connector {
    position: absolute;
    border-left: 1px solid #ff0000;
    height: 16px;
    left: -8px;
    top: 16px;
}

.jqx-tree-item-expanded > .tree-connector {
    border-top: 1px solid #ff0000;
}

.jqx-tree-item-expanded > .jqx-tree-item {
    margin-top: 16px;
}

.highcharts-credits {
    display: none !important;
}

/*popup style*/
.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.popup-content {
    max-width: 300px;
    width: 300px;
    color: #0c0c0c;
}

.popup-title {
    margin-top: 0;
    font-size: 18px;
}

.popup-form {
    margin-bottom: 0;
}
