{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
{% endblock %}
{% block title %}SPIU{% endblock %}
{% block extra_scripts %}
{% endblock extra_scripts %}
{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a href="/home">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <strong style="font-size: large">New Poultry Farm Site</strong>
                        </div>
                        <img src="{% static "assets/img/poultry_farm.jpg" %}" class="card-img-top" height="300"
                             alt="...">
                        <div class="card-body">
                            <p class="card-text">Search Site for Construction of New Poultry Farm.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://103.119.125.200/admin/spiu_gis/establishments/add/">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header">
                            <strong style="font-size: large">Data Entry Farm</strong>
                        </div>
                        <img src="{% static "assets/img/data_entr.jpg" %}" class="card-img-top" height="300" alt="...">
                        <div class="card-body">
                            <p class="card-text">Data Entry Form for 50 Categories of Establishments in Punjab</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}