{% extends 'base_giz.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static "external/jqwidgets-ver17.0.0/styles/jqx.base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "assets/libs/ol-v7.5.1/ol.css" %}"/>
    <link href="{% static "assets/css/giz.css" %}" rel="stylesheet">
{% endblock %}
{% block title %}Env. Data{% endblock %}
{% block extra_scripts %}
    <script src="{% static "external/jqwidgets-ver17.0.0/jqx-all.js" %}"></script>
    <script src="{% static "external/jszip/jszip.min.js" %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sunburst.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    <script src="https://code.highcharts.com/modules/treegraph.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="{% static "assets/libs/ol-v7.5.1/dist/ol.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/giz_dashboard.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/giz_map.js" %}"></script>
    <script>
        let token = '{{ csrf_token }}';
    </script>
    <script src="{% static "spiu_assets/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "spiu_assets/js/jquery.countdown.min.js" %}"></script>
    <script src="{% static "spiu_assets/js/smoothscroll.js" %}"></script>

    {#<!-- Header Background Slider -->#}
    <script src="{% static "spiu_assets/js/jquery.backstretch.min.js" %}"></script>
    <script type="text/javascript">
        $(".intro").backstretch([
            "{% static "spiu_assets/img/bg/1.jpg" %}"
            , "{% static "spiu_assets/img/bg/2.jpg" %}"
            , "{% static "spiu_assets/img/bg/3.jpg" %}"
            , "{% static "spiu_assets/img/bg/4.jpg" %}"
            , "{% static "spiu_assets/img/bg/5.jpg" %}"
            , "{% static "spiu_assets/img/bg/6.jpg" %}"
            , "{% static "spiu_assets/img/bg/7.jpg" %}"
            , "{% static "spiu_assets/img/bg/8.jpg" %}"
            , "{% static "spiu_assets/img/bg/9.jpg" %}"
            , "{% static "spiu_assets/img/bg/10.jpg" %}"
            , "{% static "spiu_assets/img/bg/11.jpg" %}"

        ], {duration: 4000, fade: 1000, centeredX: true, centeredY: true});
    </script>
{% endblock extra_scripts %}
{% block main_content %}

    <div class="container-fluid">
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="intro-text" font-family="Metrophobic" , Arial, serif; style="text-align: justify">
                                EPD’s Strategic Planning & Implementing Unit (SPIU) is mandated to execute the Punjab
                                Green
                                Development Program and other initiatives of the department. The directorate of
                                Environmental Policy and Planning at SPIU has a function to “Compile and organize
                                environmental data collected by others and work with those who collect the data and
                                interpret it for informed decision making in environmental protection sector in the
                                province”.
                            </p>
                            <p class="intro-text" font-family="Metrophobic" , Arial, serif; style="text-align: justify">
                                Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ) GmbH is executing the
                                "Improvement of labour and environmental standards in Pakistan's textile industry
                                (TextILES)" project. GIZ’s TextILES project is approached by SPIU for assistance in the
                                context of preparation of inventory of those organizations which are collecting and
                                analyzing environmental data.
                            </p>
                            <p class="intro-text" font-family="Metrophobic" , Arial, serif; style="text-align: justify">
                                The goal is to strengthen the avenue of informed decision
                                making and to strategies the policy goals/ priority areas of intervention for
                                environment
                                protection in the province, as environment is a cross cutting subject. Project, in the
                                long
                                run, aims at bringing stakeholders together for integrated and cohesive actions to
                                address
                                the current needs pertaining to the strengthening of Environmental Standards in all
                                sectors,
                                especially the Textiles.
                                Hence, this project was conceived.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img src="{% static "assets/img/giz/3.jpeg" %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- objectives Section -->
        <section id="objectives" class="container-fluid">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 split-padding3">
                    <h2 class="headerline">OBJECTIVE</h2>
                    <p style="text-align: justify">Because environment is a cross-cutting subject. Multiple organization
                        including academia, research institutions and government departments etc. are playing their
                        vital role for the betterment of the environment. The role of every organization is very
                        important but limited to a certain aspect of the environment. The information – who is doing
                        what – pertaining to the environmental governance, is not available in one Inventory. SPIU
                        intends to draw a holistic picture of Who is Doing What and What Type of Environmental Data is
                        available with other organizations/ government departments. This will further lead to devise
                        corrective actions, projects and plans for better environmental monitoring. </p>
                </div>
            </div>
        </section>
        <section id="charts" class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-primary">
                        <div class="card-header header_title">
                            <h5 class="card-title">Total Organizations</h5>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <h1 id="total">000</h1>
                        </div>
                        <div class="card-footer">
                            <span id="total_parent" style="float: left;">Parent: 00</span>
                            <span id="total_attach" style="float: right;">Attach: 00</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success">
                        <div class="card-header header_title">
                            <h5 class="card-title">Government</h5>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <h1 id="govt_total">000</h1>
                        </div>
                        <div class="card-footer">
                            <span id="govt" style="float: left;">Parent: 00</span>
                            <span id="govt_attached" style="float: right;">Attach: 00</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-warning">
                        <div class="card-header header_title">
                            <h5 class="card-title">Academia</h5>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <h1 id="academia_total">000</h1>
                        </div>
                        <div class="card-footer">
                            <span id="academia" style="float: left;">Parent: 00</span>
                            <span id="academia_attached" style="float: right;">Attach: 00</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-danger">
                        <div class="card-header header_title">
                            <h5 class="card-title">International</h5>
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <h1 id="intl_total">000</h1>
                        </div>
                        <div class="card-footer">
                            <span id="intl" style="float: left;">Parent: 00</span>
                            <span id="intl_attached" style="float: right;">Attach: 00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"
                 style="margin: 10px !important; text-align: center !important; background-color: #000505;color: white">
                &nbsp;&nbsp;For detail, please click on any leaf of tree
                in below left panel and chart will be updated in right panel than by clicking on any circle of Sunburst
                chart you can view detail
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div id="tgrid_org" class="panel-body"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div id="map" class="panel-body" style="height: 500px"></div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px"></div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        {#                    <div class="panel-heading"></div>#}
                        <div id="tgrid_env" class="panel-body"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        {#                    <div class="panel-heading panel-danger"></div>#}
                        <div id="chart_env_data" class="panel-body"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px"></div>
        </section>

        <div id="popup" class="ol-popup">
            <div class="popup-content">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td id="name">Defaultson</td>
                    </tr>
                    <tr class="danger">
                        <td style="text-align: center"><a id="url" href="http://idm.pgdp.pk/" target="_blank">Visit
                            Website</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="container-fluid p-4 rounded" style="background-color: #cee7f3">
            <div class="row">
                <div class="d-lg-flex justify-content-between">
                    <div>
                        <a href="https://www.giz.de/en/worldwide/362.html"><img
                                src="{% static "assets/img/logo/giz.png" %}" height="100px" alt=""></a>
                    </div>
                    <div>
                        <a href="https://pgdp.pk/"><img src="{% static "assets/img/logo/pgdp.png" %}" height="100px"
                                                        alt=""></a>
                    </div>
                    <div>
                        <a href="https://epd.punjab.gov.pk/"><img src="{% static "assets/img/epd_tp.png" %}"
                                                                  height="100px" alt=""></a>
                    </div>
                    <div>
                        <a href="https://punjab.gov.pk/"><img src="{% static "spiu_assets/img/logo/gop.png" %}"
                                                              height="100px" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px; background-color: white">
                <marquee behavior="scroll" direction="left">
                    <b>Copyright © 2023 Strategic Planning & Implementation Unit, Punjab Green Development Program,
                        Environment Protection Department, Government of the Punjab</b>
                </marquee>
            </div>
        </footer>

    </div>
{% endblock %}