{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static "external/jqwidgets/styles/jqx.base.css" %}"/>
    <style>
        body {
            font-family: "open sans", Arial, sans-serif;
            color: #000;
            background-color: #b6d4ec;
        }

        .panel-heading {
            background-color: #1192A5 !important;
            color: white !important;
            margin-top: 10px !important;
        {#margin-bottom: 10px !important;#} padding: 10px !important;
        }
    </style>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "external/jqwidgets/jqx-all.js" %}"></script>
    <script src="{% static "external/jqwidgets/jqxdata.js" %}"></script>

    <script src="{% static "external/jqwidgets/jqxdata.export.js" %}"></script>
    <script src="{% static "external/jqwidgets/jqxgrid.export.js" %}"></script>
    <script src="{% static "external/jqwidgets/jqxexport.js" %}"></script>
    <script src="{% static "external/jszip/jszip.min.js" %}"></script>

    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/accessibility.js"></script>
    <script type="text/javascript" src="{% static "assets/js/dashboard_labs_main.js" %}">
    </script>
    <script type="text/javascript" src="{% static "assets/js/dashboard_labs.js" %}"></script>
    <script>
        var token = '{{ csrf_token }}';
    </script>
{% endblock extra_scripts %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card text-white bg-primary">
                    <div class="card-header header_title">
                        <span id="total">000</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Total Reports Enter till date</h5>
                        <p class="card-text"></p>
                    </div>
                    {#                    <div class="card-footer"></div>#}
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-success">
                    <div class="card-header header_title">
                        <span id="water">000</span>
                        <span id="p_water" style="font-size: large">( 0% )</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Water Reports</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-warning">
                    <div class="card-header header_title">
                        <span id="air">000</span>
                        <span id="p_air" style="font-size: large">( 0% )</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Air Reports</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-danger">
                    <div class="card-header header_title">
                        <span id="noise">000</span>
                        <span id="p_noise" style="font-size: large">( 0% )</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center">Noise</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px !important;"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    {#                    <div class="panel-heading"></div>#}
                    <div id="highMap" class="panel-body" style="height: 450px"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="panel panel-default">
                    {#                    <div class="panel-heading panel-danger"></div>#}
                    <div id="barchart" class="panel-body" style="height: 450px"></div>
                </div>
            </div>
        </div>
        <div class="row " style="background-color: #ffffff; padding-bottom: 10px;margin-top: 10px">
            <form class="row">
                <div class="col-4">
                    <label for="startdate" class="col-sm-4 col-form-label col-form-label-sm">Start Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm" id="startdate"
                               value="{{ start_date }}"
                               placeholder="dd-mm-yyyy">
                    </div>
                </div>
                <div class="col-4">
                    <label for="enddate" class="col-sm-4 col-form-label col-form-label-sm">End Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm" id="enddate"
                               value="{{ end_date }}"
                               placeholder="dd-mm-yyyy">
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" id="btnSearch" class="btn btn-warning" style="margin-top: 20px">Search
                    </button>
                </div>
                {#                <div class="col-2">#}
                {#                    <button type="button" id="btnDownload" class="btn btn-primary">Download</button>#}
                {#                </div>#}
            </form>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">District Wise Summary</div>
                    <div id="grid_report_district" class="panel-body" style="height: 450px"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Laboratory Wise Summary</div>
                    <div id="grid_labs_count" class="panel-body" style="height: 450px"></div>
                </div>
            </div>
        </div>
        <div class="row " style="background-color: #ffffff; padding-bottom: 10px;margin-top: 10px">
            <form class="row">
                <div class="col-4">
                    <label for="lab_name" class="col-sm-4 col-form-label col-form-label-sm">Laboratory</label>
                    <div class="col-sm-8">
                        <select id="lab_name" class="form-select" aria-label="Default select example">
                            <option value="-1" selected>Select Laboratory</option>
                            <option value="1">EPA Lab, Faisalabad</option>
                            <option value="2">EPA Lab, Gujranwala</option>
                            <option value="3">EPA Lab, Lahore</option>
                            <option value="4">EPA Lab, Multan</option>
                            <option value="5">EPA Lab, Rawalpindi</option>
                            <option value="6">EPA Lab, Rahim Yar Khan</option>
                            <option value="7">EPA Lab, Sialkot</option>
                            <option value="8">EPA Lab, Sheikhupura</option>
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <label for="report_type" class="col-sm-4 col-form-label col-form-label-sm">Report Type</label>
                    <div class="col-sm-8">
                        <select id="report_type" class="form-select" aria-label="Default select example">
                            <option value="Air" selected>Stack Emission/ Air</option>
                            <option value="Noise">Noise</option>
                            <option value="Water">Liquid Effluent/ Water</option>
                            <option value="WWTP">Waste Water Treatment Plants</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" id="btnGetReportsDetail" class="btn btn-warning" style="margin-top: 20px">
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-danger">Laboratory Reports Detail
                        {% if user.is_authenticated %}
                            <button style="float: right;margin-right: 10px" type="button" id="btnReportsGridDownload"
                                    class="btn btn-primary"> Download Reports Excel
                            </button>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <div id="reports_detail_grid"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px"></div>
    </div>
    <div id="jqxLoader"></div>
{% endblock %}