{% extends 'base_pac.html' %}
{% load static %}
{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>
    <script src="{% static "assets/js/geo_location.js" %}"></script>

{% endblock %}
{% block extra_styles %}
    <style>
        #map {
            width: 100%;
            height: 400px;
        }

        form {
            background-color: #cfe2f1;
        }

        .preview-container {
            display: flex;
            flex-wrap: wrap;
        }

        .preview-item {
            max-width: 100px;
            max-height: 100px;
            margin: 10px;
        }

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">
{% endblock %}
{% block title %}Home{% endblock %}
{% block main_content %}
    <div class="container" style="margin-top: 100px">
        <div class="row ">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <label for="track">
                            Locate Me
                            <input id="track" type="checkbox"/>
                        </label>
                    </div>
                    <div id="map" class="card-body"></div>
                </div>
            </div>
            <div class="col-md-6">
                <form method="post" action="{% url 'pac_add_activity' %}" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="{{ form.district.id_for_label }}" class="form-label">District</label>
                        {{ form.district }}
                    </div>
                    <div class="col-12">
                        <label for="{{ form.activity_name.id_for_label }}" class="form-label">Activity Location
                            Name</label>
                        <input type="text" class="form-control" id="{{ form.activity_name.id_for_label }}"
                               name="{{ form.activity_name.name }}"
                               placeholder="Name of School or Place where you are visiting" required>
                    </div>
                    <div class="col-12">
                        <label for="{{ form.activity_address.id_for_label }}" class="form-label">Activity Location
                            Address</label>
                        <textarea class="form-control" id="{{ form.activity_address.id_for_label }}"
                                  name="{{ form.activity_address.name }}" rows="3"
                                  placeholder="Chak/Village/Town Name,Road Name, Tehsil, Post office, other place mark"
                                  required></textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="{{ form.latitude.id_for_label }}" class="form-label">Latitude</label>
                        <input type="number" step="any" class="form-control" id="{{ form.latitude.id_for_label }}"
                               name="{{ form.latitude.name }}" value="{{ form.latitude.value }}">
                    </div>

                    <div class="col-md-6">
                        <label for="{{ form.longitude.id_for_label }}" class="form-label">Longitude</label>
                        <input type="number" step="any" class="form-control" id="{{ form.longitude.id_for_label }}"
                               name="{{ form.longitude.name }}" value="{{ form.longitude.value }}">
                    </div>
                    <div class="col-12">
                        <label for="id_images" class="form-label">Attach Photos</label>
                        <input class="form-control" type="file" id="id_images"
                               accept="image/*" name="images" multiple required>
                        <span class="help-block">Choose file from directory and than click on upload button</span>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <div class="preview-container" id="image-preview-container"></div>
                        </div>
                    </div>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Upload Data</button>
                    </div>
                </form>
                <div class="row" style="margin-top: 50px !important;"></div>
            </div>
        </div>
    </div>
{% endblock %}