{% extends 'base_pac.html' %}
{% load static %}
{% block extra_scripts %}
{% endblock %}
{% block extra_styles %}
{% endblock %}
{% block title %}Home{% endblock %}
{% block main_content %}
    <style>
        .login_form {
            margin-top: 15vh;
            padding: 20px 22px;
            background: #f1e7cb !important
        }

        .helptext {
            color: #000505;
            font-size: small;
        }

        .errorlist {
            color: red;
        }
    </style>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="login_form" method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="first_name" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="first_name" placeholder="Enter your Name"
                                       name="first_name" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_gender" class="form-label">Gender:</label>
                                <select class="form-control form-select" name="gender" placeholder="Select your gender"
                                        id="id_gender">
                                    <option value="" selected>---------</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="-">Rather not say</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_district_id" class="form-label">District Name:</label>
                                <select class="form-control form-select" name="district_id"
                                        id="id_district_id">
                                    <option value="" selected>---------</option>

                                    <option value="29">Attock</option>

                                    <option value="3">Bahawalnagar</option>

                                    <option value="2">Bahawalpur</option>

                                    <option value="36">Bhakkar</option>

                                    <option value="28">Chakwal</option>

                                    <option value="11">Chiniot</option>

                                    <option value="7">Dera Ghazi Khan</option>

                                    <option value="10">Faisalabad</option>

                                    <option value="17">Gujranwala</option>

                                    <option value="16">Gujrat</option>

                                    <option value="15">Hafizabad</option>

                                    <option value="9">Jhang</option>

                                    <option value="27">Jhelum</option>

                                    <option value="21">Kasur</option>

                                    <option value="25">Khanewal</option>

                                    <option value="35">Khushab</option>

                                    <option value="20">Lahore</option>

                                    <option value="6">Layyah</option>

                                    <option value="24">Lodhran</option>

                                    <option value="14">Mandi Bahauddin</option>

                                    <option value="34">Mianwali</option>

                                    <option value="23">Multan</option>

                                    <option value="5">Muzaffargarh</option>

                                    <option value="19">Nankana Sahib</option>

                                    <option value="13">Narowal</option>

                                    <option value="32">Okara</option>

                                    <option value="31">Pakpattan</option>

                                    <option value="1">Rahim Yar Khan</option>

                                    <option value="4">Rajanpur</option>

                                    <option value="26">Rawalpindi</option>

                                    <option value="30">Sahiwal</option>

                                    <option value="33">Sargodha</option>

                                    <option value="18">Sheikhupura</option>

                                    <option value="12">Sialkot</option>

                                    <option value="8">Toba Tek Singh</option>

                                    <option value="22">Vehari</option>

                                </select>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="organization_name" class="form-label">Organization Name:</label>
                                <input type="text" class="form-control" id="organization_name"
                                       placeholder="Organization or University Name"
                                       name="organization_name" required>
                            </div>
                        </div>
                    </div>
                    <!--
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username" class="form-label">User Name:</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter username"
                                           name="username">
                                    <span class="helptext help-block">Username required Letters, digits and @/./+/-/_ only.</span>
                                </div>
                            </div>
                        </div>
                      -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                       name="email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="mobile_no" class="form-label">Mobile No:</label>
                                <input type="number" class="form-control" id="mobile_no"
                                       placeholder="Enter Mobile No (03001234567)"
                                       name="mobile_no" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password1" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="password1" placeholder="Enter password"
                                       name="password1">
                                <span class="helptext">
                                    <ul>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can’t be entirely numeric.</li>
                                </ul>
                                </span>

                            </div>
                        </div>
                    </div>
                    <!--
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password2" class="form-label">Password Confirmation:</label>
                                    <input type="password" class="form-control" id="password2" placeholder="Enter password"
                                           name="password2">
                                    <span class="helptext">Enter the same password as before, for verification.</span>
                                </div>
                            </div>
                        </div>
                    -->
                    {% if form.errors %}
                        <p style="color: red">{{ form.errors }}</p>
                    {% endif %}
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary col-md-12">Sign Up</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-12">
                                    <a style="color: #0a53be" href="/pac/pac_login">if already registered, please
                                        login?</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}